<main>
    <div class="layout-body">
        <div class="content-wrapper">
            <section class="content">
                <div class="article-container">
                    <div class="article-header">
                        <p class="category">Announcements</p>
                        <h1 class="title"><b>Intoducing CipherShop</b></h1>
                        <p class="author-date">CipherShop Team • January 27, 2022</p>
                    </div>
                </div>
                <div class="featured-image">
                    <div class="image-container">
                        <img src="./assets/articles/biografia-javier-gurpide-huarte/fotobiografia_1024x394px_ES-100.jpg">
                    </div>
                </div>
                <div class="article-wrapper">
                    <div class="article-container">
                        <div class="article-content">
                            <p>This post focuses on the general aspects of the CipherShop protocol, taking into account the fundamentals of the WhitePaper. For more technical and in-depth details, it is recommended to refer to the documentation.</p>
                            <h2 id="introduction">Introduction</h2>
                            <p>Through the protocol, which consists of a series of smart contracts, it will be possible to make purchases and sales anonymously, of physical and/or digital products using ETH or ERC-20 tokens, these products being legal within the jurisprudence of the corresponding sending and receiving countries.</p>
                            <p>Sellers will be able to manage their products, with their characteristics, the quantity of these, in order to sell them. These vendors will receive rewards in the form of the token created for the protocol: CSHOP. The base reward for a successful sale is 300 CSHOP. This can be higher, the higher your reputation as a seller. Increasing your reputation, making successful sales.</p>
                            <p>Like buyers, on a successful purchase and based on your reputation as a buyer, you will get CSHOP tokens. The base amount is 50 CSHOP.</p>
                            <p>The protocol is designed in detail to prevent fraud and avoid intermediaries. However, a mechanism has been created in the protocol by which both the buyer and the seller can give permission to a third party, who will be a reliable administrator of the team of the creators of the protocol, to resolve possible incidents, and based on the evidence, resolve the incident in favor of the seller or the buyer.</p>
                            <h2 id="protocol-operation">Protocol operation</h2>
                            <p>The protocol works as follows: a user adds a product with its characteristics; such as title, visibility, description, photos, shipping method, shipping location, payment method, if returns are allowed, etc. When another user sees a product of his interest, he will be able to buy the product directly or make a lower offer.</p>
                            <p>In case of making an offer, the seller will have to accept it and the user who made the offer will be notified to confirm the purchase. The transfer will be initiated.</p>
                            <p>In case of direct purchase, all possible offers will be cancelled and the transfer will be initiated directly.</p>
                            <p>The transfer of ETH or the chosen ERC-20 token. It will go to the smart contract address. A deposit will be created, which will contain all the details of the transfer.</p>
                            <p>The seller will be able to cancel the purchase, before marking the product as shipped, but with this action, he will lose reputation as a seller. Otherwise, the seller must proceed with the shipment of the product. It can be marked as shipped and also as received.</p>
                            <p>Once the seller has marked the product as shipped and subsequently as received. The buyer will have 14 days to confirm receipt of the product, finalizing the transaction. In case he/she has not received the product, he/she may file a complaint, giving permission to a CipherShop administrator to resolve the issue. Or make a return, if the seller allows it.</p>
                            <p>If the buyer does not take any action after 14 days, the protocol will conclude the transaction, transferring the deposit to the seller.</p>
                            <p>On successful sales, a 0.3% commission will be applied and will go to the community treasury, controlled by the CipherShop DAO.</p>
                            <p>This protocol incentivizes the Ethereum ecosystem, allowing to link the purchase of real objects, using cryptocurrencies. Using a secure protocol and focused on avoiding fraud and mistrust.</p>
                            <h2 id="ciphershop-dao">CipherShop DAO</h2>
                            <p>The ERC-20 CSHOP token has been created with one goal in mind: to encourage users to use the protocol, and to allow them to, through the DAO:</p>
                            <ul>
                                <li>Decide whether to perform protocol updates.</li>
                                <li>Decide which projects or associations to fund or donate to.</li>
                                <li>Change the compensation rates, the reputation algorithm and the commission.</li>
                            </ul>
                            <p>In this way, the users themselves can discuss future improvements in the forum.</p>
                        </div>
                        <div class="article-sections">
                            <h2 style="margin-top: 0px">Content</h2>
                            <div class="article-section-link">
                                <a href="./blog/introduction-to-ciphershop#introduction">Introduction</a>
                            </div>
                            <div class="article-section-link">
                                <a href="./blog/introduction-to-ciphershop#protocol-operation">Protocol operation</a>
                            </div>
                            <div class="article-section-link">
                                <a href="./blog/introduction-to-ciphershop#ciphershop-dao">CipherShop DAO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>