<main>
    <div class="layout-body">
        <div class="content-wrapper">
            <div class="column-autocolumn">
                <div class="pages-title">
                    <h1 class="pages-body-title">CipherShop: an automated, decentralized and user-controlled peer-to-peer electronic marketplace</h1>
                    <p class="pages-title-description">The original document presenting and explaining the functionality of CipherShop</p>
                </div>
            </div>
            <section class="pages-section">
                <div class="pages-flex-row">
                    <div class="pages-card">
                        <div class="column-autocolumn">
                            <a>
                                Castellano (Original)
                            </a>
                            <p>Written by CipherShop</p>
                        </div>
                    </div>
                    <div class="pages-card">
                        <div class="column-autocolumn">
                            <a>
                                English                            
                            </a>
                            <p>Translated by CipherShop</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
