<main>
    <div class="layout-body">
        <div class="content-wrapper">
            <section class="content">
                <div class="article-container">
                    <div class="article-header">
                        <p class="category">Announcements</p>
                        <h1 class="title"><b>ERC-20 CSHOP Distribution and Investor Phases</b></h1>
                        <p class="author-date">CipherShop Team • February 1, 2022</p>
                    </div>
                </div>
                <div class="featured-image">
                    <div class="image-container">
                        <img src="./assets/articles/biografia-javier-gurpide-huarte/fotobiografia_1024x394px_ES-100.jpg">
                    </div>
                </div>
                <div class="article-wrapper">
                    <div class="article-container">
                        <div class="article-content">
                            <h2 id="introduction">Introduction</h2>
                            <p>The previous post discussed the ERC-20 CSHOP token, and the DAO. This post is intended to explain in more detail the initial CSHOP distribution, the investor attraction phases along with the initial coin offering.</p>
                            <h2 id="distribution">Distribution</h2>
                            <p>Initially, 1,000,000,000,000 (one billion) will be created, which will be available over 4 years.</p>
                            <p>The distribution of CSHOP tokens is as follows:</p>
                            <ul>
                                <li>56% for the community treasury and the community, over 4 years: 560,000,000 CSHOP.</li>
                                <li>24.333% for the development team, over 4 years: 243,330,000 CSHOP.</li>
                                <li>18.069% for investors, over 4 years: 180,690,000 CSHOP.</li>
                                <li>0.968% for small initial investors, over 4 years: 9,680,000 CSHOP.</li>
                                <li>0.63% for advertisers over 4 years: 6,300,000 CSHOP.</li>
                            </ul>
                            <p>A total of 120,000,000 CSHOP will initially be available for the community and the community treasury. Of these, 20,000,000,000 (16.6667%) will be hosted at the contract address for the incentives of users who use the protocol.</p>
                            <p>The distribution of tokens over the 4 years will be as follows:</p>
                            <ul>
                                <li>Year 1: 40%</li>
                                <li>Year 2: 30%</li>
                                <li>Year 3: 20%</li>
                                <li>Year 4: 10%</li>
                            </ul>
                            <p>For the community and community treasury and for the initial small investors, the percentage will be calculated by subtracting the total amount after 4 years, minus the amount initially distributed.</p>
                            <p>After 4 years, there will be an annual inflation rate of 1.6%.</p>
                            <h2 id="investors">Investor attraction</h2>
                            <p>There are two phases of investor fundraising, the first will be a private phase available to any user, which will be used to raise a minimum amount of funding, to audit the protocol, launch the protocol and recruit team members.</p>
                            <p>In the first distribution to initial investors, an initial 2,000,000 CSHOP (31% of the initial investor amount) will be available for direct purchase. The price of the coin will start at $0.16, with an increment of 0.01$ for each 400,000 CSHOP tokens purchased.</p>
                            <p>The second will correspond to the initial offering of the CSHOP token, with the objective of attracting large investors who want to be part of the project and finance it and help form a large ecosystem.</p>
                        </div>
                    </div>
                    <div class="article-sections">
                        <h2 style="margin-top: 0px">Content</h2>
                        <div class="article-section-link">
                            <a href="./blog/about-dao-token-distribution-and-investor-recruitment#introduction">Introduction</a>
                        </div>
                        <div class="article-section-link">
                            <a href="./blog/about-dao-token-distribution-and-investor-recruitment#distribution">Distribution</a>
                        </div>
                        <div class="article-section-link">
                            <a href="./blog/about-dao-token-distribution-and-investor-recruitment#investors">Investor attraction</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>