<!--
<header class="nav-flex">
    <div class="navbar nav-bluebeacon">
        <div class="nav-belt">
            <div class="nav-left">
                <div class="nav-logo">
                    <a class="nav-logo-link">
                        <span class="nav-sprite nav-logo-base"></span>
                    </a>
                </div>
            </div>
            <div class="nav-fill">
                <div class="nav-search">
                    <form class="nav-searchbar">
                        <div class="nav-left">
                            <div class="nav-search-dropdown-card">
                                <div class="nav-search-scope nav-sprite">
                                    <div class="nav-search-facade">
                                        <select id="searchDropdownBox" name="url" class="nav-search-dropdown" style="display: block; top: 2.5px;">
                                            <option selected="selected" value="aps">Todos los departamentos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-fill">
                            <div class="nav-search-field">
                                <input class="nav-input" type="text" placeholder="">
                            </div>
                        </div>
                        <div class="nav-right">
                            <div class="nav-search-submit">
                                <span class="nav-search-submit-text">
                                    <input id="nav-search-submit-button" class="nav-input" tabindex="0">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
-->
<header class="header">
    <div class="header-content">
        <div class="header-logo"></div>
    </div>
    <nav class="nav-wrapper">
        <a class="nav-link">Governance</a>
        <a class="nav-link">FAQ</a>
        <a class="btn-link">Launch APP</a>
    </nav>
</header>
