<header class="header">
    <div class="header-content">
        <div class="header-logo" (click)="goHome()">
            <img src="assets/logo/ciphershop_logo_800x800_black_2.png">
        </div>
        <nav class="nav-wrapper">
            <a class="nav-link" href="https://docs.ciphershop.org">DOCS</a>
            <a class="nav-link">DAO</a>
            <a class="nav-link" [routerLink]="['./blog']">BLOG</a>
            <a class="btn-link">Launch APP</a>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="footer-wrapper">
    <div class="main-footer">
        <div class="language-dropdown">
            <div class="text">
                <div class="language-icon-wrapper">
                    <i class="language-icon en"></i>
                    <div class="language-icon-label">English</div>
                </div>
            </div>
            <mat-icon class="dropdown icon">arrow_drop_down</mat-icon>
            <div class="menu">
                <div class="active selected item" style="pointer-events: all;">
                    <div class="language-icon-wrapper">
                        <i class="language-icon en"></i>
                        <div class="language-icon-label">English</div>
                    </div>
                </div>
                <div class="item" style="pointer-events: all;">
                    <div class="language-icon-wrapper">
                        <i class="language-icon en"></i>
                        <div class="language-icon-label">Spanish</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="links">
            <a [routerLink]="['/']">Home</a>
            <a href="https://docs.ciphershop.org">Documents</a>
            <a>Governance</a>
            <a>Forum</a>
            <a [routerLink]="['./blog']">Blog</a>
        </div>
    </div>
    <div class="secondary-footer">
        <div class="social-links">
            <a href="https://reddit.com/r/CipherShop" target="_blank">
                <i class="social-icon reddit"></i>
            </a>
            <a href="https://github.com/CipherShop" target="_blank">
                <i class="social-icon github"></i>
            </a>
            <a href="https://twitter.com/CipherShop" target="_blank">
                <i class="social-icon twitter"></i>
            </a>
            <a href="https://t.me/ciphershop" target="_blank">
                <div class="social-icon telegram">
                    <img src="assets/icons/telegram_icon.png">
                </div>
            </a>
            <a href="https://www.linkedin.com/company/ciphershop/about" target="_blank">
                <div class="social-icon linkedin">
                    <img src="assets/icons/linkedin_icon.png">
                </div>
            </a>
            <a href="mailto:dev@ciphershop.org">
                <div class="social-icon contact">
                    <img src="assets/icons/email_icon.png">
                </div>
            </a>
        </div>
        <div class="copyright">
            @
            <!---->
            2022
            <!---->
            CipherShop
        </div>
    </div>
</footer>
