<main>
    <div class="layout-body">
        <div class="content-wrapper">
            <section class="content">
                <div class="article-container">
                    <div class="article-header">
                        <p class="category">Announcements</p>
                           <h1 class="title"><b>Initial Private Purchase Available</b></h1>
                        <p class="author-date">CipherShop Team • February 3, 2022</p>
                    </div>
                </div>
                <div class="featured-image">
                    <div class="image-container">
                        <img src="./assets/articles/biografia-javier-gurpide-huarte/fotobiografia_1024x394px_ES-100.jpg">
                    </div>
                </div>
                <div class="article-wrapper">
                    <div class="article-container" style="margin: 0 0 0 auto;">
                        <div class="article-content">
                            <h2 id="introduction">Introduction</h2>
                            <p>The first phase of investor recruitment is available. Anyone with ETH, can buy CSHOP tokens, and become part of the group of initial small investors, for which, they will have available: 9,680,000 CSHOP within 4 years.</p>
                            <p>2,000,000 CSHOP are available, at a starting price of $0.16. With a starting price of $0.16, with an increment of $0.01 for every 400,000 CSHOP purchased.</p>
                            <p>The purchase is made through a smart contract, so security is guaranteed.</p>
                            <h2 id="buy">Buy CSHOP</h2>
                            <div class="pages-card-post">
                                <div class="row">
                                    <div class="column-autocolumn">
                                        <h2 style="margin: 0;">Distribution</h2>
                                        <div class="distribution-slider">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column-autocolumn">
                                        <h2>Current Sale</h2>
                                        <p>2M CSHOP</p>
                                    </div>
                                    <div class="column-autocolumn">
                                        <h2>Tokens Sold</h2>
                                        <p>0 CSHOP</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column-autocolumn">
                                        <h2>Sale Ends In</h2>
                                        <p>{{totalTime}}</p>
                                    </div>
                                    <div class="column-autocolumn">
                                        <h2>Get Started</h2>
                                        <button class="btn-link">Invest</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-sections">
                        <h2 style="margin-top: 0px">Content</h2>
                        <div class="article-section-link">
                            <a href="./blog/initial-private-purchase-available#introduction">Introduction</a>
                        </div>
                        <div class="article-section-link">
                            <a href="./blog/initial-private-purchase-available#buy">Buy CSHOP</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>